/node_modules
/public/bower_components
/public/hot
/public/uploads
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
.env
.composer*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
dump.html
