/*css index*/
div.scrollmenu {
    width: 30%;
    overflow: auto;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}

div.scrollmenu button {
    display: inline-block;
    height: 40px;
    text-decoration: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    right: 10%;
}
.not-number-account {
    color: #333;
    top: -1px;
    right: -2px;
}
.not-number-account, .not-number-customer {
    font-size: 11px;
    position: absolute;
    font-weight: 700;
    padding: 0 4px;
    display: block;
    line-height: 13px;
}
.position {
    position:relative;
}
/*chart css*/
.ct-legend {
    padding: 0;
    font-family: sans-serif;
}
.ct-legend li {
    cursor: pointer;
}
.ct-legend li {
    position: relative;
    display: inline-block;
    padding-left: 1.3em;
    list-style-type: none;
    margin: 5px;
}
.color-picker-chart {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: inline-block;
}
.ct-legend li:before {
    height: 1em;
    width: 1em;
    position: absolute;
    top: .1em;
    left: 0;
    content: "";
    border-radius: 1em;
}
.tc {
    text-align: center!important;
}
.mb10 {
    margin-bottom: 10px!important;
}
.uppercase {
    text-transform: uppercase;
}
.bold {
    font-weight: 700!important;
}
.display {
    display: inline-block;
}
.fr {
    float: right!important;
}
.mg0, .mr0 {
    margin: 0!important;
}
.pt10 {
    padding-top: 10px!important;
}

.no-padd {
    padding: 0!important;
}
.display {
    display: inline-block;
    vertical-align: top;
}
.pl5 {
    padding-left: 5px!important;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #535353;
}
/*css view_account*/
#main-content {
    padding-top: 43px;
    padding-left: 50px;
    background: #ffffff;
}

.bor-bot {
    border-bottom: 1px solid #d0d0d0!important;
}
.info-avatar {
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
    line-height: 18px;
}
.avatar {
    display: table-cell;
    vertical-align: top;
    width: 52px;
    height: 52px;
    -webkit-box-sizing: none;
    box-sizing: none;
}
.a35, .a35 img {
    width: 35px;
    height: 35px;
}
.full2 {
    font-size: 14px!important;
}
.fl {
    float: left;
}
.a45, .a45 img {
    width: 45px;
    height: 45px;
}
.bor-l {
    border-left: 1px solid #d0d0d0!important;
}
.font12 {
    font-size: 12px!important;
}
.color-picker-bg-41 {
    background: #ce0000!important;
}
.mt10 {
    margin-top: 10px;
}
.pb20 {
    padding-bottom: 20px!important;
}
.ml2 {
    margin-left: 2px;
}
.padding {
    padding: 10px!important;
}
.border {
    border: 1px solid #d0d0d0;
}
.font12 {
    font-size: 12px!important;
}

.mb10 {
    margin-bottom: 10px!important;
}
.mg0, .mr0 {
    margin: 0!important;
}
.pb5 {
    padding-bottom: 5px;
}
.mt5 {
    margin-top: 5px!important;
}
