/*css index*/
div.scrollmenu {
    width: 30%;
    overflow: auto;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}

div.scrollmenu button {
    display: inline-block;
    height: 40px;
    text-decoration: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    right: 10%;
}
.not-number-account {
    color: #333;
    top: -1px;
    right: -2px;
}
.not-number-account, .not-number-customer {
    font-size: 11px;
    position: absolute;
    font-weight: 700;
    padding: 0 4px;
    display: block;
    line-height: 13px;
}
.position {
    position:relative;
}

