.detail__pagination {
    width: 220px;
    top: 10px !important;
    left: -100px !important;
    background: radial-gradient(120.26% 166.07% at -4.23% -32.74%, #1A2749 0%, #253763 36.39%, #121B34 75.39%, #0C1124 100%) padding-box,
    linear-gradient(130.35deg, #FAF9F7 -2.76%, #2AABE2 53.97%) border-box;

    color: #fff;
    padding: 9px;
    border: 1px solid transparent;
    border-radius: 8px;
}
.dropdown-customize {
    width: 220px;
    top: 10px !important;
    background: radial-gradient(120.26% 166.07% at -4.23% -32.74%, #1A2749 0%, #253763 36.39%, #121B34 75.39%, #0C1124 100%) padding-box,
    linear-gradient(130.35deg, #FAF9F7 -2.76%, #2AABE2 53.97%) border-box !important;
    color: #fff !important;
    padding: 9px;
    border: 1px solid transparent;
    border-radius: 8px;
}
.btn-100{
    max-width: 100px;
}
.detail__info div:first-child {
    font-family: sopher;
    font-size: 16px;
    color: var(--bg-main);
    font-weight: 700;
}
.svn-medium{
    font-family: 'svn-medium' !important;
}
